.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: 2s;
}

.ex-1-square:hover{
  background-color: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 5s;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s;
}

.ex-3-square:hover{
  border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s;
}

.ex-4-square:hover {
  transform: scale(0);
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: 2s;
}

.ex-5-square:hover{
  transform: scale(2);
}

.ex-5-square:active{
  transform: scale(0.5);
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img{
  transition: 3s;
}

.ex-6-img:hover{
  filter: grayscale(100%);
}

.ex-7-img{
  transition: 5s all;
}

.ex-7-img:hover{
  filter: sepia(100%) grayscale(50%);
}

.ex-8-img{
  transition: 3s;
}

.ex-8-img:hover{
  filter: sepia(100%) brightness(20%);
  border-radius: 10px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: 5s;
}

.ex-9-img:hover{
  filter: sepia(100%) brightness(20%);
  border-radius: 30px;
  transform: scale(1.5);
}

.ex-10-icon {
  font-size: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
}

.ex-11-icon {
    font-size: 60px;
    transition: 2s;
}

.ex-11-icon:hover {
  transform: rotate(270deg);
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
    transition: 5s all;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
    transition: 5s all;
}

.ex-12-button:hover{
width: 150px;
height: 50px;
line-height: 50px;
}

.ex-12-button:hover .ex-12-top-white,
.ex-12-button:hover .ex-12-bottom-white{
  width: 0px;
  height: 0px;
}

.ex-13-button:hover .ex-13-top-white {
    animation: giro-1 2s linear;
}
@keyframes giro-1 {
  0% {
    left: 10%;
    top: -10px;
  }
  30% {
    left: calc(100% - 30px);
    top: -10px;
  }
  45% {
    left: calc(100% - 30px);
    top: 100%;
  }
  75% {
    left: 0;
    top: 100%;
  }
  90% {
    left: -15px;
    top: -10px;
  }
  100% {
    left: 10%;
    top: -10px;
  }
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: giro-2 2s linear;
}
@keyframes giro-2 {
  0% {
    bottom: -10px;
    right: 20%;
  }
  30% {
    right: calc(100% - 30px);
    bottom: -10px;
  }
  45% {
    right: calc(100% - 30px);
    bottom: 100%;
  }
  75% {
    right: 0;
    bottom: 100%;
  }
  90% {
    right: -15px;
    bottom: -10px;
  }
  100% {
    bottom: -10px;
    right: 20%;
  }
}
